E0090/10_LoginAndRegistrationPageInPug/views/login.pug
html
	head
		title Login form
		link(type='text/css', rel='stylesheet', href='P4.css')
	body
		.signupbox
			img.d(src='face.png')
			h1 Login
			form(method='POST', action='/login')
				p User Name 
				input(type='text', name='UserName', placeholder='Enter Username', required='')
				p Password
				input(type='password', name='Password', placeholder='Enter password', required='')
				.lower
					input(type='checkbox', checked='')
					label I agree to the terms and conditions
				input(type='submit', name='', value='Confirm')

E0090/02_LoginRegisterHTMLPage/login.html
<html><head><title>SIgnUp form</title>
    <link type='text/css' rel='stylesheet' href='P4.css'/>
</head>
 <body style="background-image: url('pub.png');">
        <div class="signupbox">
         <img src="face.png" class="d"/>
          <h1>Signup</h1>
                <form method="POST" action="/login" >
                     <p>User Name </p>
                     <input type="text" name="UserName" placeholder="Enter Username" required>
                    
                     <p>Password</p>
                     <input type="password" name="Password" placeholder="Enter password"   required>
                     
                     <div class="lower"> <input type="checkbox" checked/>
                        <label>I agree to the terms and conditions</label></div>
                     
                      <input type="submit" name=""value="Confirm">
                  </form>
                  
        </div> 
 </body>     
</html>
