E0086/02_LoginRegisterHTML/register.html
<!DOCTYPE html>
<html>
<head>
	<title>Sign Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    body {
  background:url(3.jpg);
  font-family: 'Titillium Web', sans-serif;
  background-size:cover;
}
	.head1
	{
		text-align:center;
	
	}
	.head2
	{
		text-align:center;

	}
	
	.body1
	{
		margin-top: 92px;
		box-shadow: 1px 0px 7px 3px #ececec;
		    color: #ff0000;
	}
    .form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .5s ease;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}
</style>

<body>
<div class="container-fluid body1" style="width:60%;">
  
  <h4 class="head1">Login</h4><br>
  <form method="POST" action="/register">
  
  <div class="row">
    <div class="col-sm-6 head2">First name :</div>
    <div class="col-sm-6"><input type="text" required name="firstname"></div>
  </div><br>

  <div class="row">
    <div class="col-sm-6 head2">Last name :</div>
    <div class="col-sm-6"><input type="text" name="lastname"></div>
  </div><br>

  <div class="row">
    <div class="col-sm-6 head2">Gender :</div>
    <div class="col-sm-6">
	<input type="radio" name="gender" value="male" checked> Male<br>
	<input type="radio" name="gender" value="female"> Female<br></div>
  </div><br>
    
	<div class="row">
    <div class="col-sm-6 head2">Password :</div>
    <div class="col-sm-6">
		<input type="password" name="pass" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" >

	</div>
	</div><br>
	
	<div class="row">
    <div class="col-sm-6 head2">PhoneNumber :</div>
	<div class="col-sm-6"><input type="tel"/>
	</div>
	</div><br>
	
	<div class="row">
    <div class="col-sm-6 head2">Enter email :</div>
    <div class="col-sm-6"><input type="email" pattern="[^ @]*@[^ @]*" required placeholder="Enter your email"></div>
	</div><br>
	
	<div class="checkbox head1">
      <label><input type="checkbox" name="terms" class="head2"> Terms and Conditions applied</label>
    </div>
	<p class="head1"><input type="submit" value="Register"></p>
</form>
</div>
</body>
</html>

E0091/10_LoginAndRegistrationPageInPug/views/register.pug
doctype html
html
  head
    title Sign Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type='text/javascript', src='https://gc.kis.v2.scr.kaspersky-labs.com/39B118C6-7317-C54B-B93E-81804D7D26A2/main.js', charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .head1
      {
      text-align:center;
      }
      .head2
      {
      text-align:center;
      }
      .body1
      {
      margin-top: 92px;
      box-shadow: 1px 0px 7px 3px #ececec;
      }
  body
    .container-fluid.body1(style='width:60%;    background-color:chocolate;')
      h4.head1 Register
      br
      form(method='POST', action='/register')
        .row
          .col-sm-6.head2 First name :
          .col-sm-6
            input(type='text', required='', name='firstname')
        br
        .row
          .col-sm-6.head2 Last name :
          .col-sm-6
            input(type='text', name='lastname')
        br
        .row
          .col-sm-6.head2 Gender :
          .col-sm-6
            input(type='radio', name='gender', value='male', checked='')
            |  Male
            br
            input(type='radio', name='gender', value='female')
            |  Female
            br
        br
        .row
          .col-sm-6.head2 Password :
          .col-sm-6
            input(type='password', name='pass', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required='', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
        br
      
        .row
          .col-sm-6.head2 PhoneNumber :
          .col-sm-6
            input(type='tel')
        br
        .row
          .col-sm-6.head2 Enter email :
          .col-sm-6
            input(type='email', pattern='[^ @]*@[^ @]*', required='', placeholder='Enter your email')
        br
        .checkbox.head1
          label
            input.head2(type='checkbox', name='terms')
            |  Terms and Conditions applied
        p.head1
          input(type='submit', value='Register')
